.addtext-form {
  width: 80%;
  margin: 2.5rem auto 2rem;
}

.form-field.with-button input {
  width: calc(100% - 14.25rem - 2px);
  min-width: 16rem;
  margin-right: 1rem;
}

.form-field.with-button button {
  margin-bottom: 1px;
}