.import-wiki {
  width: 80%;
  margin: 2.5rem auto 2rem;
}

.items-list {
  width: 100%;
  margin: 1rem 0;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0,0,0,0.79);
}

.items-list--item {
  width: 100%;
  margin: 0.25rem 0;
  border-bottom: solid 1px #DDD;
}

.item--meta {
  width: 100%;
  margin: 0;
  padding: 0;
}

.item--header {
  font-weight: bold;
  text-transform: uppercase;
  border-top: solid 1px #DDD;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.item--meta li {
  display: inline-block;
  padding: 0 0.25rem;
  overflow-x: hidden;
}

.item--title {
  font-weight: bold;
  width: calc(54% - 16rem);
}

.item--lang {
  width: 3rem;
}

.item--type, .item--status {
  width: 6rem;
}
.item--URL {

}


.item--category, .item--category_ru, .item--tags, .item--location {
  width: 18%;
}
