.csv-import-form {
  margin: 3.5rem 1rem 1rem;
}

.csv-import-form .form-field textarea {
  height: calc(100vh - 15rem);
}
.csv-import-form--message {
  margin: 1rem 0;
  font-size: 0.75rem;
  font-weight: bold;
}