.App-menu {
  position: absolute;
  right: 1.5rem;
  top:0;
  width: calc(100% - 8rem);
  padding-right: 0.5rem;
  font-size: 0.825rem;
  display: flex;
  flex-flow: row nowrap;
}

.App-menu a {
  color: #FFF;
  text-decoration: none;
}

.menu--item {
  margin: 0 0.5rem;
  flex: 0 0 auto;
}

.right-side-menu {
  display: inline-block;
  text-align: right;
  flex: 1 1 auto;
}