.App {
  width: 100%;
}

.App-header {
  background-color: #333;
  height: 2.5rem;
  line-height: 2.5rem;
  color: rgba(255,255,255,0.87);
  padding-left: 1rem;
}

.App-title {
  font-size: 1.25em;
  margin: 0;
}

.App-title, .App-menu {
  display: inline-block;
}

.App-menu {
  float: right;
  text-align: right;
  padding-right: 0.5rem;
  font-size: 0.825rem;
}

.App-menu a {
  color: #FFF;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}
